<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaorange.store.dao.OrderDao">
    <sql id="allCols">
         oid,
         ordertime,
         total,
         state,
         address,
         "name",
         telephone,
         uid
    </sql>
    <insert id="save" parameterType="Order">
        insert into orders
        values (
         #{oid},
         #{ordertime},
         #{total},
         #{state},
         #{address},
         #{name},
         #{telephone},
         #{uid}
        )
    </insert>
    <select id="getTotalCountByUid" parameterType="String" resultType="Integer">
        select count(oid) from orders
        where uid=#{uid}
    </select>
    <resultMap id="myOrderRM" type="Order">
        <id property="oid" column="oid"/>
        <result property="total" column="total"/>
        <result property="ordertime" column="ordertime"/>
        <!--从订单出发 去映射订单明细-->
        <collection property="orderItemList" ofType="Orderitem">
            <id property="itemid" column="itemid"/>
            <result property="count" column="count"/>
            <result property="subtotal" column="subtotal"/>
            <association property="product" javaType="Product">
                <id property="pid" column="pid"/>
                <result property="pimage" column="pimage"/>
                <result property="pname" column="pname"/>
                <result property="shop_price" column="shop_price"/>
            </association>
        </collection>
    </resultMap>
    <!--根据用户id查询订单明细及商品信息-->
    <select id="findListByUid" parameterType="object" resultMap="myOrderRM">
        select
        o.oid,
        o.total,
        o.ordertime,
        oi.count,
        oi.subtotal,
        p.pimage,
        p.pname,
        p.shop_price
        from
        (select <include refid="allCols"/> from orders where uid=#{param1} limit #{param2},#{param3}) o
        inner join orderitem  oi on o.oid=oi.oid
        inner join product p on oi.pid=p.pid
        order by o.ordertime desc
    </select>
    <update id="updateState" parameterType="object">
        update orders set state=#{param2} where oid=#{param1}
    </update>
</mapper>