<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaorange.store.dao.OrderItemDao">
<!--    <sql id="allCols">-->
<!--     itemid,-->
<!--     'count',-->
<!--     subtotal,-->
<!--     pid,-->
<!--     oid-->
<!--    </sql>-->
    <insert id="save" parameterType="OrderItem">
        insert into orderitem
        values (
        #{itemid},
        #{count},
        #{subtotal},
        #{pid},
        #{oid}
        )
    </insert>
</mapper>