<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaorange.store.dao.ProductDao">
    <sql id="allCols">
       pid,
       pname,
       market_price,
       shop_price,
       pimage,
       pdate,
       is_hot,
       pdesc,
       pflag,
       cid
    </sql>
    <sql id="partCols">
        pid,pname
    </sql>
    <select id="findHotProductList" resultType="Product">
        select <include refid="allCols"/> from product
        where is_hot=1
        order by pdate desc
        limit 0,10
    </select>
<!--   <parameterMap id="pageMap" type="map">
        <parameter property="cid" javaType="java.lang.String"></parameter>
        <parameter property="beginRowIndex" javaType="java.lang.Integer"></parameter>
        <parameter property="pageSize" javaType="java.lang.Integer"></parameter>
    </parameterMap>
    <select id="findPageByCid" parameterType="pageMap" resultType="Product">
      select <include refid="allCols"/> from product
      where cid =#{cid}
      order by  pdate desc
      limit #{beginRowIndex},#{pageSize}
    </select>-->

    <select id="findPageByCid" parameterType="object" resultType="Product">
      select <include refid="allCols"/> from product
      where cid =#{param1}
      order by  pdate desc
    limit #{param2},#{param3}
    </select>
    <select id="findPage" parameterType="object" resultType="Product">
     select <include refid="allCols"/> from product
     order by  pdate desc
     limit #{param1},#{param2}
    </select>
    <select id="getTotalCount" parameterType="object" resultType="Integer">
        select count(pid) from product
        <where>
            <if test="param1 !=null">
            cid=#{param1}
            </if>
            <if test="param2 !=null">
               and pflag=#{param2}
            </if>
        </where>
    </select>
    <select id="findByPid" parameterType="String" resultType="Product">
        select <include refid="allCols"/> from product
        where pid=#{pid}
    </select>
    <select id="findByCid" parameterType="String" resultType="Category">
        select cid,cname from category
        where cid=#{cid}
    </select>
    <update id="updatePflag" parameterType="object" >
        update product set pflag=#{param2}
        where pid=#{param1}
    </update>
    <insert id="save" parameterType="Product">
      insert into product values (
       #{pid},
       #{pname},
       #{market_price},
       #{shop_price},
       #{pimage},
       #{pdate},
       #{is_hot},
       #{pdesc},
       #{pflag},
       #{cid}
        )
    </insert>
</mapper>