<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yaorange.store.dao.UserDao">
    <!--定义sql字段-->
    <sql id="allCols">
        uid,
        username,
        password,
        name,
        email,
        telephone,
        birthday,
        sex,
        state,
        code
    </sql>
    <sql id="someCols">
        uid,
        username,
        password
    </sql>
    <select id="findByUserName" parameterType="string" resultType="User">
       select <include refid="allCols"/> from user
       where username=#{username}
    </select>
    <insert id="save" parameterType="User">
        insert into user(<include refid="allCols"/>)
        values (
        #{uid},
        #{username},
        #{password},
        #{name},
        #{email},
        #{telephone},
        #{birthday},
        #{sex},
        #{state},
        #{code}
        )
    </insert>
    <update id="updateState" parameterType="string">
        update user set
        state=1,code=null where code=#{code}
    </update>
 </mapper>