<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">
    <!--加载邮件属性配置文件-->
       <context:property-placeholder location="classpath:mail.properties"/>
    <!--邮件发送者-->
    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="${mail.from}"/>
    </bean>
    <!--邮件发送器对象-->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="host" value="${mail.host}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="javaMailProperties">
            <props>
               <!-- 发送服务的认证-->
                <prop key="mail.smtp.auth">true</prop>
                <!--启动邮件调试-->
                <prop key="mail.debug">true</prop>
                <!--设置发送超时-->
                <prop key="mail.smtp.timeout">0</prop>
            </props>
        </property>
    </bean>
    <!-- 线程池-->
    <bean id="mailThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!--核心线程数 -->
        <property name="corePoolSize" value="10" />
        <!--最大线程数 -->
        <property name="maxPoolSize" value="20" />
        <!-- 队列大小 -->
        <property name="queueCapacity" value="200" />
        <!--每次线程超时等待时间（s）-->
        <property name="awaitTerminationSeconds" value="30"/>
    </bean>
</beans>