<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">
    <description>Quartz的配置</description>
    <!-- job-->
    <bean id="mailJob" class="com.yaorange.jk.job.MailJob"/>
    <!-- jobDetails-->
    <bean id="mailJobDetails" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mailJob"/>
        <property name="targetMethod" value="sendMail"/>
    </bean>
    <!-- trigger-->
    <bean id="sendMailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mailJobDetails"/>
        <property name="cronExpression" value=" 0/10 * * * * ?"/>
    </bean>
    <!-- scheduler-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="sendMailTrigger"/>
            </list>
        </property>
    </bean>
</beans>