<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.yaorange.jk.web"/>

    <!--静态资源处理方式二-->
    <mvc:default-servlet-handler/>

    <!-- 注解驱动 -->
    <!--<mvc:annotation-driven/>-->
     <mvc:annotation-driven>
         <!--消息转换器,可以处理@ResponseBody中的乱码-->
         <mvc:message-converters>
             <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                 <property name="supportedMediaTypes" value="application/json;charset=utf-8"/>
             </bean>
         </mvc:message-converters>
     </mvc:annotation-driven>

    <!-- 注解适配器(可写可不写) -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
            </list>
        </property>
    </bean>

    <!-- jsp视图解析器-->
 <!--   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>-->
    <!--跨域-->
    <mvc:cors>
        <mvc:mapping
                path="/**"
                allowed-methods="*"
                allowed-origins="*"/>
              <!--  allowed-origins="http://localhost:9001"/>-->

    </mvc:cors>

</beans>