<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--数据库配置文件-->
    <properties resource="db.properties"/>
    <!--配置工程类名的别名-->
    <typeAliases>
        <package name="com.yaorange.store.entity"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--注册mapper-->
    <mappers>
        <mapper resource="com/yaorange/store/dao/impl/UserMapper.xml"></mapper>
        <mapper resource="com/yaorange/store/dao/impl/CategoryMapper.xml"></mapper>
        <mapper resource="com/yaorange/store/dao/impl/ProductMapper.xml"></mapper>
        <mapper resource="com/yaorange/store/dao/impl/OrderMapper.xml"></mapper>
        <mapper resource="com/yaorange/store/dao/impl/OrderItemMapper.xml"></mapper>
    </mappers>
</configuration>